body {
    margin: 0px;
    padding: 0px;
    width: 100%;
    height: 100%;
    font-size: 14px;
    font-family: monospace;
    overflow-x: hidden;
}

input,
textarea,
select {
    font-size: 14px;
    font-family: monospace;
    border-radius: 0px;
}

input[type=text],
input[type=number],
textarea {
    border: 4px solid black;
    font-size: 14px;
    cursor: text;
}

input[type=button] {
    border: 4px solid gray;
    border-style: outset;
    cursor: pointer;
}

input[type=button]:active {
    border-style: inset;
}

input:disabled,
textarea:disabled,
select:disabled {
    cursor: not-allowed !important;
}

#main {
    display: flex;
    width: 100%;
    height: 100%;
    flex-direction: row;
}

#canvasContainer {
    box-sizing: border-box;
    margin: 8px 8px;
    --canvas-size: calc(min(100vw, 100vh) - 16px);
    min-width: var(--canvas-size);
    width: var(--canvas-size);
    height: var(--canvas-size);
    border: 4px solid #555;
    align-self: center;
}

#canvas {
    width: 100%;
    height: 100%;
    background-color: black;
    cursor: crosshair;
}

#controlsContainer {
    display: flex;
    padding: 8px 8px;
    padding-left: 0px;
    flex-grow: 1;
    flex-direction: column;
    row-gap: 8px;
    min-width: 0px;
}

@media (max-width: calc(100vh + 380px)) {
    #main {
        height: min-content;
        flex-direction: column;
    }

    #controlsContainer {
        padding-left: 8px;
        padding-top: 0px;
    }
}

@media (max-width: calc(100vh + 16px)) {
    #canvasContainer {
        align-self: center;
        --canvas-size: calc(min(100vw - 16px, 100vh) - 16px);
    }
}

#controlsContainer>div {
    border: 4px solid #555;
    background-color: #DDD;
    padding: 4px 4px;
}

.pairGrid {
    display: grid;
    grid-template-columns: max-content 1fr;
    row-gap: 4px;
    column-gap: 4px;
    align-items: center;
}

.pairGrid>*:nth-child(odd) {
    justify-self: flex-end;
}

#snapshotButtons {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}
#snapshotButtons>input {
    flex-grow: 1;
}

#gravityInputs {
    display: flex;
    gap: 4px;
}

#gravityInputs>input {
    box-sizing: border-box;
    width: calc(50% - 2px);
}

#applyOptions,
#applyConstants {
    margin-top: 4px;
    width: 100%;
}

#editButtonsGrid1,
#editButtonsGrid2,
#editFileOptionsGrid {
    display: flex;
    flex-direction: row;
    column-gap: 4px;
}

#editButtonsGrid1>input,
#editButtonsGrid2>input,
#editFileOptionsGrid>input {
    flex-basis: 0px;
    flex-grow: 1;
}

#editButtonsBeamSettings,
#editFileOptionsGrid {
    margin-top: 4px;
}
